@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/ptsans-bold-webfont.woff2') format('woff2'),
         url('../fonts/ptsans-bold-webfont.woff') format('woff'),
         url('../fonts/ptsans-bold-webfont.ttf') format('truetype'),
         url('../fonts/ptsans-bold-webfont.svg#pt_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/ptsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/ptsans-regular-webfont.woff') format('woff'),
         url('../fonts/ptsans-regular-webfont.ttf') format('truetype'),
         url('../fonts/ptsans-regular-webfont.svg#pt_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;

}




@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-black-webfont.woff2') format('woff2'),
         url('../fonts/roboto-black-webfont.woff') format('woff'),
         url('../fonts/roboto-black-webfont.ttf') format('truetype'),
         url('../fonts/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: 900;
    font-style: normal;

}




@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: 400;
    font-style: normal;

}