* {
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 15px;
    width: 100%;
    max-width: 1852px;
    margin: 0 auto;
}

p {
    text-align: left;
    padding-top: 20px;
}

.heading {
    list-style-position: inside;
}